<!doctype html>

<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="https://nagavenkatasaim.github.io/NagaVenkataSaiM/_variables.scss">
    <link rel="stylesheet" type="text/css" href="https://nagavenkatasaim.github.io/NagaVenkataSaiM/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://nagavenkatasaim.github.io/NagaVenkataSaiM/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://nagavenkatasaim.github.io/NagaVenkataSaiM/_bootswatch.scss">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The PurplePlace</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link " href="#">Home
          </a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="#">Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Signup
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br>
<br>
<form method="post">
  {% csrf_token %}
  <fieldset>
     <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    </fieldset>
</form>


